In [8]:
import pandas as pd

In [10]:
dados = pd.read_excel('/5899cf71-3d16-4e41-9da6-869dadb3bccf.xlsx')
dados

            Data     Tempo  Grupo1  Grupo2  Grupo3  Unnamed: 5 Unnamed: 6
0     2019-11-24  00:00:00       0       2       0         NaN        NaN
1     2019-11-24  00:01:00       0       1       0         NaN        NaN
2     2019-11-24  00:02:00       0       2       0         NaN        NaN
3     2019-11-24  00:03:00       0       1       0         NaN        NaN
4     2019-11-24  00:04:00       0       1       0         NaN        NaN
...          ...       ...     ...     ...     ...         ...        ...
2875  2019-11-25  23:55:00       0       1       0         NaN        NaN
2876  2019-11-25  23:56:00       0       1       0         NaN        NaN
2877  2019-11-25  23:57:00       0       2       0         NaN        NaN
2878  2019-11-25  23:58:00       0       1       0         NaN        NaN
2879  2019-11-25  23:59:00       0       1       0         NaN        NaN

[2880 rows x 7 columns]

In [11]:
print(len(dados))

2880

In [15]:
print('Média 1: ',dados['Grupo1'].mean())
print('Média 2: ',dados['Grupo2'].mean())
print('Média 3: ',dados['Grupo3'].mean())

Média 1:  0.7541666666666667
Média 2:  1.1368055555555556
Média 3:  6.0055555555555555

In [14]:
print('Mediana 1: ',dados['Grupo1'].median())
print('Mediana 2: ',dados['Grupo2'].median())
print('Mediana 3: ',dados['Grupo3'].median())

Mediana 1:  0.0
Mediana 2:  0.0
Mediana 3:  0.0

In [13]:
print('Moda 1:',dados['Grupo1'].mode())
print('Moda 2:',dados['Grupo2'].mode())
print('Moda 3:',dados['Grupo3'].mode())

Moda 1: 0    0
Name: Grupo1, dtype: int64
Moda 2: 0    0
Name: Grupo2, dtype: int64
Moda 3: 0    0
Name: Grupo3, dtype: int64

In [16]:
print('1° Quartil 1: ', dados['Grupo1'].quantile(0.25))
print('1° Quartil 2: ', dados['Grupo2'].quantile(0.25))
print('1° Quartil 3: ', dados['Grupo3'].quantile(0.25))

1° Quartil 1:  0.0
1° Quartil 2:  0.0
1° Quartil 3:  0.0

In [17]:
print('3° Quartil 1: ', dados['Grupo1'].quantile(0.75))
print('3° Quartil 2: ', dados['Grupo2'].quantile(0.75))
print('3° Quartil 3: ', dados['Grupo3'].quantile(0.75))

3° Quartil 1:  0.0
3° Quartil 2:  1.0
3° Quartil 3:  17.0

In [19]:
print('Amplitude 1: ', dados['Grupo1'].max()- dados['Grupo1'].min())
print('Amplitude 2: ', dados['Grupo2'].max()- dados['Grupo2'].min())
print('Amplitude 3: ', dados['Grupo3'].max()- dados['Grupo3'].min())

Amplitude 1:  38
Amplitude 2:  40
Amplitude 3:  19

In [21]:
print('Variancia 1: ', dados['Grupo1'].var())
print('Variancia 2: ', dados['Grupo2'].var())
print('Variancia 3: ', dados['Grupo3'].var())

Variancia 1:  24.107658909343517
Variancia 2:  26.696803963567596
Variancia 3:  69.38517232063603

In [23]:
print('Desvio Padrão 1: ', dados['Grupo1'].std())
print('Desvio Padrão 2: ', dados['Grupo2'].std())
print('Desvio Padrão 3: ', dados['Grupo3'].std())

Desvio Padrão 1:  4.909955082212415
Desvio Padrão 2:  5.1668950021814455
Desvio Padrão 3:  8.329776246732923

In [25]:
print('Coeficiente de Variação 1: ', dados['Grupo1'].std() / dados['Grupo1'].mean())
print('Coeficiente de Variação 2: ', dados['Grupo2'].std() / dados['Grupo2'].mean())
print('Coeficiente de Variação 3: ', dados['Grupo3'].std() / dados['Grupo3'].mean())

Coeficiente de Variação 1:  6.51043767807171
Coeficiente de Variação 2:  4.545100063006281
Coeficiente de Variação 3:  1.3870117709638539